<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <ul>
      <table class="container">
        <thead>
          <tr>
            <th>Player</th>
            <th>Score</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <% scoreboard.forEach(function(player) { %>
            <tr>
              <td><strong><%= player.player_name %></strong></td>
              <td><%= player.high_score %></td>
              <td><%= player.timestamp %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </ul>
  </div>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>